__pycache__/
*.pyc

build/
out/
*.tmp
*.aligned.apk
*_aligned.apk

*.apk
*.apks
*.idsig

translations/*.bak*
translations/*before*
translations/*missing*
translations/libfrida-gadget.script_KR.js1
translations/ko_translations.json
